<!DOCTYPE HTML>

<head>
  <title>Data Exploration</title>
  <script src='../static/d3.min.js'></script>
  <script src='../static/state_codes.js'></script>
  <script >
    var data = {{data|safe}}
    var rcnm = {0:'American Indian or Alaska Native',1:'Asian or Pacific Islander',2:'Black or African American',3:'White',4:'State Average'}
  </script>
  <style type="text/css">

    table.table-style-one td {
        border-width: 1px;

        padding: 4px;

        background-color: #ffffff;
    }
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
  </style>

</head>

<body>
  <h1>Premature Birth Rate 2014</h1>
  <h3> Compairing <br> <ul id=name></ul> </h3>

  <p>Here we are plotting the state average rate of premature birth (optionally broken down by race) as a function of the mean delay between estimated date of conception and first reported neonatal checkup for the ~3.9 million birth records analyzed for 2014. Sphere radii are proportional to the absolute number of reordered premature births in each state (thus roughly proportional to state population). Mean delay between conception neonatal checkup was meant to be a rough indicator of access to preventative health care, but this may not be a valid assumption.</p>

<p>Mouse over the data points for details.</p>
  <div>
    <svg height=600 width=900 id='fig'>
    </svg>

  </div>

  <div>

    <form method='POST' action='index'>
      <table>
      <tbody>
       <tr>
           <td> <label >American Indian or Alaska Native</label> <input type="checkbox" name="eth_id" value="0"> </td>
           <td> <label>Asian or Pacific Islander</label> <input type="checkbox" name="eth_id" value="1"> </td>
           <td> <label>Black or African American</label> <input type="checkbox" name="eth_id" value="2"> </td>
           <td> <label>White</label> <input type="checkbox" name="eth_id" value="3"> </td>
           <td> <label>All</label> <input type="checkbox" name="eth_id" value="4"> </td>
      </tr>

    </tbody></table>



    <button  type='submit' value='submit'>Submit</button >

    </form>

  </div>
    <form method='POST' action='heatmap'>
      <p>
      <button  type='submit' value='goto'>See heatmap</button >
      </p>
  <div>

  </div>
<script>
  var default_age = 9;
  var checked =[4]

  d3.select('#name')
    .selectAll('li')
    .data({{labels|safe}})
    .enter()
    .append('li')
    .text( function(d){ return d;} );

  d3.select('#months')
    .selectAll('option')
    .data( d3.range(1,11) )
    .enter()
    .append('option')
    .attr('value', function(d){ return d; } )
    .text(function(d){ return d; } )
    .filter( function(d){ return d == default_age; })
    .attr("selected","selected");

</script>

<script>

   var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    var canvas = d3.select('#fig');

    var points = canvas.append('g');

    var mar = { 't':20, 'b':100, 'l':50, 'r':10 };


    var yscl = d3.scale.linear()
               .range([mar.t, canvas.attr('height')-mar.b])
               .domain([ d3.max( data, function(d){ return d.y;} ),
                         d3.min( data, function(d){ return d.y;} )-0.5]);


    var xscl = d3.scale.linear()
               .range([mar.l, canvas.attr('width')-mar.r-mar.l])
               .domain([ d3.min( data, function(d){ return d.x;} )-.05,
                         d3.max( data, function(d){ return d.x;} )]);

    var rscl = d3.scale.linear()
               .range([5,15])
               .domain([ d3.min( data, function(d){ return d.r;} ),
                         d3.max( data, function(d){ return d.r;} )]);

  points.selectAll('circles')
        .data( data )
        .enter()
        .append('circle')
        .attr('cx', function(d){ return xscl(+d.x);})
        .attr('cy', function(d){ return yscl(+d.y);})
	.style("opacity", .9)
        .attr( 'fill', function(d){
                        if       (d.id==4){return '#e41a1c';}
                        else if  (d.id==3){return '#377eb8';}
                        else if  (d.id==2){return '#4daf4a';}
                        else if  (d.id==1){return '#984ea3';}
                        else              {return '#ff7f00';}
                          } )
        .attr('r',function(d){return rscl(d.r);})
        .on('mouseover',
          function(d){
            d3.select(this)
            div.transition()
                .duration(200)
                .style("opacity", .9);
            div.html( state_codes[d.s] +'<br><br> '+rcnm[d.id] )
                .style("left", (d3.event.pageX) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
            } );


  points.attr('transform','translate('+mar.l+','+mar.t+')');
  var scls = d3.selectAll('svg');

  var yscle = d3.svg.axis().scale(yscl).orient("left").ticks(15);
  var xscle = d3.svg.axis().scale(xscl).orient("bottom").ticks(10);
  scls.append('g').call(yscle)
      .attr('transform','translate('+ 2*mar.l+','+mar.t+')')
      .attr('fill','').attr('stroke-width',0.3);
  scls.append('g').call(xscle).attr('transform','translate('+mar.l+',514)');

  d3.selectAll('svg')
    .append('text')
    .text('Average Time to First Checkup (Months)')
     .attr('transform', 'translate(450,570)');

  d3.selectAll('svg')
    .append('text')
    .text('Percentage of Births that are Premature (%)')
    .attr('transform', ['translate(50,375)', 'rotate(-90)']);

</script>



</body>





